<!DOCTYPE html>

<html>

<head>
    <meta name="description" content="This is an awesome web page">
    <title> Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styling.css') }}">
</head>


<body>
    <header class="bkg-image">
        <h1>Andi Mindru Pictures</h1>
        <nav>
            <a href="#here">Colombia</a>
            <a href="">Peru</a>
            <a href="">Chile</a>
        </nav>
    </header>


    <main>

        <section class="left">

            <img src="../static/images/bolivia.png">

            <img src="../static/images/DSC00843.png">

        </section>

        <a id="here">



            <section class="form">
                <form></form>
                <h2>Registration form</h2>
                <label for="name">Name</label>
                <input type="text">

                <button> Send</button>
                </form>
            </section>
        </a>

    </main>

    <footer>
        <p> This page was created by Andi Mindru </p>
    </footer>
</body>

</html>